
.exerciseHeader, .exerciseFooter, .exerciseMain {
    margin: 0 10px 10px 10px;
}

.exerciseMainFeatures {
    display: grid;
    grid-template-columns: 50fr 50fr ;
    gap: 10px;

}

.exerciseMainFeatures .exerciseMarketingFeature {
    display: grid;
    grid-template-columns: 50fr 50fr ;
    gap: 10px;
    padding-bottom: 10px;


}

.exerciseMainFeatures .exerciseMarketingFeature:first-child {

}

.exerciseAdditionalFeatures {
    padding-top:10px;
    display: grid;
    grid-template-columns: 25fr 50fr 25fr;
    gap: 10px;

}

.exerciseAdditionalFeatures .exerciseMarketingFeature {


}

.exerciseAdditionalFeatures .exerciseMarketingFeature:first-child {

}