
.exerciseFooter, .exerciseMain {
    margin: 0 10px 10px 10px;
}

.exerciseHeader {
    display: grid;
    grid-template-columns: 5fr 10fr;
    grid-gap: 250px;
    padding-bottom: 10px;
}   

.exerciseHeaderLogo {
    margin-left: 10px;
    width: 200px;
    height: 80px;
}

.exerciseHeaderNav {

}

.exerciseHeaderNav ul {
    display: grid;
    grid-template-columns: 100px 100px 100px 100px 100px;
    gap: 10px

}

.exerciseHeaderNav ul li {
    list-style: none;


}


/* Main */

.exerciseMain {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 10px;


}

.exerciseMainLeftNav {
    height: 1000px;


}

.exerciseMainContent {
display: grid;
grid-template-rows: 1fr 1fr 1f 1fr;
min-height: 1000px;
gap:10px;

}

.exerciseMainContent > * {
    margin: 0;
}

.exerciseMainContentBanner {

}

.exerciseMainContentSubBanner {

}

.exerciseMainContentBlock {
    display: grid;
    grid-auto-columns: ;

}