
.exerciseHeader, .exerciseFooter, .exerciseMain {
    margin: 0 10px 10px 10px;
}

.exerciseMain {
    display: grid;
    grid-template-columns: 25fr 50fr 25fr;
    gap: 10px;


}

.exerciseMainContent {


}

.exerciseMainAside {

}