
.exerciseHeader, .exerciseFooter, .exerciseMain {
    margin: 0 10px 10px 10px;
}

.exerciseMain {
    display:grid;
    grid-template-columns: 60% 40%;
    gap:10px;

}

.exerciseMainContent {
}

.exerciseMainAside {
}