/*

Exercise Notes:

Use Flex-wrap, flex-direction, and flex to control how the header spaces and sizes.  A good minimum for flex might be 320px;




 */



.exerciseFooter, .exerciseMain {
    margin: 0 10px 10px 10px;
}

.exerciseHeader {
    display: flex;
    flex-direction: row;
    gap:30%;


}

.exerciseHeaderLogo {
    width: 200px;
    height: 80px;
}


.exerciseHeaderNav {
    
}

.exerciseHeaderNav ul {
    display: flex;
    gap: 10px;
    flex-direction: row;
    list-style: none;

}

.exerciseHeaderNav ul li {
    width: 70px;
    height: 10px;
}


.exerciseMainContent {

}


.exerciseAdditionalFeatures {

}

.exerciseAdditionalFeatures .exerciseMarketingFeature {


}

.exerciseAdditionalFeatures .exerciseMarketingFeature:first-child {

}