/*

Exercise Notes:

Use Flex-wrap, flex-direction, and flex to control how the header spaces and sizes.  A good minimum for flex might be 320px;




 */



.exerciseFooter, .exerciseMain {
    margin: 0 10px 10px 10px;
}

.exerciseHeader {
    display: flex;
    flex-direction: row;
    gap:30%;


}

.exerciseHeaderLogo {
    margin: 0 0 0 10px;
    width: 200px;
    height: 80px;
}


.exerciseHeaderNav {
    
}

.exerciseHeaderNav ul {
    display: flex;
    gap: 10px;
    flex-direction: row;
    list-style: none;
    margin: 0 0 0 0;
    padding: 20px 0 0 0;

}

.exerciseHeaderNav ul li {
    width: 70px;
    height: 10px;
}


.exerciseMainContent {
    margin: 10px 0 10px 0;
    height: 250px;

}


.exerciseAdditionalFeatures {
    display: flex;
    flex-direction: row;
    gap:10px;
}

.exerciseAdditionalFeatures .exerciseMarketingFeature {
    width:50%;
    height: 150px;
}

.exerciseAdditionalFeatures .exerciseMarketingFeature:first-child {

}
footer{
    height: 100px;
}

s